body, * {
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}

header {
	background: dodgerblue;
	padding: 10px;
	width: 100%;
	color: white;
	text-align: center;
}

footer {
	background: dodgerblue;
	width: 100%;
	padding: 10px;
	color: white;
}
h2 {
	padding: 0;
	margin: 0;
	text-align: center;
}

h4 {
	padding: 50px 0 0 0;
	text-align: center;
}

table {
	align: center;
	margin: auto;
	padding: 0 0 50px 0;
}

.project {
	width: 200px;
}

.graded {
	color: #303030;
}
.ready {
	color: #37c87d;
	font-weight: bold;
}

.upcoming {
	color: #b8b8b8;
}

.inProgress {
	color: #6CB5FC;
}

.headTitle {
	border: 1 solid white;
}
hr {
	width: 70%;
	margin: auto;
}

video {
	margin: 25px;
}

button {
	margin: 25px;
}

.description {
	width: 50%;
	margin: auto;
}

a {
	color: dodgerblue;	
}
a:hover {
	color: #6507f2;
}

.foot {
	width: 500px;
	margin: auto;
	padding: 0;
	line-height: .1;
	text-align: center;
}